version: '1.0.{build}'

image:
  - Visual Studio 2017

#platform:
#  - x86
#   - x64

configuration:
  - Release
  - Debug

before_build:
  - cmd: |-
      git submodule update --init
      if not exist "build" mkdir "build"
      cd build
      rmdir /s /q  bin
      cmake --version
      cmake .. -G "Visual Studio 15 2017" -DKCPP__ENABLE_TESTS=OFF

build:
  project: build/kcpp.sln
  parallel: true
  verbosity: minimal

test_script:
  - ctest

cache:
  - C:/projects/kcpp/build

skip_commits:
  message: /Update documentation.*/


after_build:
  - xcopy C:\OpenSSL-Win32\bin\libeay32.dll bin\%Configuration% /y
  - 7z a kcpp-windows-x86-%Configuration%.zip bin\%Configuration%

artifacts:
  - path: build/kcpp-windows-x86-%Configuration%.zip
    name: kcpp
    type: zip


# https://www.appveyor.com/docs/deployment/github/#promoting-selected-tag-to-github-release
#deploy:
#  provider: GitHub
#  auth_token:
#    secure: OGsDOhVHdeWq7ejDbd8R+tj+xxZbkJ6oi9XQJ4RY6WAJHmg+5scgeyEIsrGhXkJ+
#  artifact: kcpp
#  draft: false
#  prerelease: false
#  on:
#    branch: master                 # release from master branch only
#    APPVEYOR_REPO_TAG: true        # deploy on tag push only